@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  --color-red: oklch(0.4088 0.1505 28.59);
  --color-grey: oklch(0.235 0 0);
  --color-white: oklch(0.954 0 0);
  --font-sans: "AR One Sans", var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-grey);
  color: var(--color-white);
  font-family: var(--font-sans);
}
